
 /*  css variables*/
 :root{
  --primary:#ddd ;
  --dark:#333;
  --light:#fff;
  --orange:#f59e42;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background: var(--light);
  width: 100%;
}
h1 h2 h3 h5 h5 h6{
  font-family: Roboto;
}
.super-container{
  width: 100%;
  margin: auto;
}
.main{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo{
  font-family: Algerian;
  color: var(--success);
}

.shalom{
  background:var(--light);
  color: blue;

}
.sivisions div{
  padding: 50px;
  margin: 20px;
  text-align: center;

}
.card .btn{
  margin-left: 25%;
  border-radius: 0.1rem;
  box-shadow: var(--shadow)
}
.card  h5 {
  margin: 5px auto;
}
 .card{
  border-radius: 0rem;
  margin-left: 35px;
  box-shadow: var(--shadow);
  min-width: 100px;
  max-width: 300px;
 }
.col-lg-4 {
  background: #659DBD;
  padding-left: 30px;

}
.col-lg-4 svg{
  align-items: center;
  margin: 30px;
}
.col-lg-4 p{
  align-items: center;
  margin:30px;
  margin-top: 0px;
}
  .featurette p
{
  margin-left: 30px;

}
.featurette h2{
  margin-top: 100px;
  margin-left: 30px;
}
.featurette-image{
  border-radius: 1rem;
  margin-right: 10px;
}
.lol {
  background: #f59e42
}
.footer{
  background-color: rgb(52, 72, 83);
  padding: 50px;
  color: #e3e5e6;
  width: 100%;
  font-family: -apple-system,
                BlinkMacSystemFont,
                "Segoe UI",
                Roboto,
                "Helvetica Neue",
                Arial,
                "Noto Sans",
                sans-serif,
                "Apple Color Emoji",
                "Segoe UI Emoji",
                "Segoe UI Symbol",
                "Noto Color Emoji";

}
.no-border li{
  list-style: none;
  color: #e3e5e6;
}

.footer hr{
  color: white;
}
.footer li a{
  color: white;
}
.footer li{
  list-style-type: none;
}
.wrapper {
  display: block;
  align-items: stretch;
}
#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background: green;
  transition: all 0.3s;
}
#sidebar .sidebar-header {
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  background: green;
}
#sidebar ul li a {
  padding: 10px;
  margin: auto;
  display: block;
  background-color: green;
  font-size: 1.1em;
  color: white;
}
#sidebar ul li a:active{
  background-color: #fff;
  color: green;
}
#sidebar ul li a:hover {
  color: green;
  background: #fff;
  text-decoration: none;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}
.head-photo{
  z-index: -1;
}
.student-sidebar {
  width: 100%;
  color: rgb(46, 43, 43);
  transition: all 0.3s;
}
.student-sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}
.student-sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: rgb(32, 29, 29);
}
.student-sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
  text-decoration: none;
}
#sidebar.active {
  margin-left: -250px;
}
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}
#content{
  padding: 10px;
  min-height: 100vh;
}
.d-flex a:hover{
  text-decoration: none;
  font-weight: bold;
}
.d-flex{
  background-color: rgb(197, 198, 204);
}
.side{
  float: left;
}
.btn-outline-dark{
  margin: 8px;
}
.input-group{
  width: 300PX;
}
.onslide{
  z-index: -1;
}

.languages{
  background-color: aliceblue;
  border-radius: 15px;
  width: 85%;
  margin: auto;
}
.navigation-bar{
  min-height: 85px;
  box-shadow: var(--shadow);
  z-index: 1;
  overflow: auto;
}
.navigation-bar:hover{
  background-image: linear-gradient(skyblue, white);
  box-shadow: var(--shadow);
}
.row-equal > div[class*='col-'] {
  display: flex;
  flex: 1 0 auto;
}

.row-equal .card {
 width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active,
.carousel-inner>.row-equal.next,
.carousel-inner>.row-equal.prev {
  display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left,
.carousel-inner>.row-equal.active.right {
  opacity: 0.5;
  display: flex;
}


/* control image height */
.card-img-top-250 {
  max-height: 250px;
  overflow:hidden;
}
.btn-card{
  margin: 10px auto;
  align-self: center;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.head{
  z-index: -1;
}
.babel-benefit{
  padding-top: 10px;

}
.about-babel{
  font-family: Comic Sans MS;
  font-weight: bold;
  font-size: 28px;
}
.think{
  font-family: Comic Sans MS;
  font-style: italic;
  font-weight: bold;
}
.timeline{
  height: 50vh;
}
.profile{
  position: -ms-page;
  background-color: #659DBD;
  margin-left: 20px;
  margin-top: -6rem;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 200px;
  height: 200px;
}
.edit-pp{
  position: -ms-page;
  background-color: rgb(226, 236, 241);
  margin-left: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 200px;
  height: 200px;
}
.names{
  height: 50px;
  margin-top: 1rem;
}
.below-navigation{
  margin-top: -4rem;
}
.profile-content{
  width:100%;
  min-height: 500px;
}
.profile-content form{
  width: 700px;
}
.edit-names{
  align-items: center;
  justify-content: center;
  display: flex;
}
form{
  margin: auto;
}
.nav-log{
  background-color: rgb(226, 236, 241);
}
#buy_hours{
  font-size: 12px;
}
#buy_hours button{
  font-size: 10px;
}
.hours button{
  font-size: 10px;
}

.post-slider{
  position: relative;
}
.post-slider .nextnext{
  position: absolute;
  top: 50%;
  right: 5%;
  cursor: pointer;
  font-size: 2em;
}
.post-slider .previous{
  position: absolute;
  top: 50%;
  left: 5%;
  cursor: pointer;
  font-size: 2em;
}

.post-slider .post-wrapper{
  width: 84%;
  min-height: 350px;
  margin: 0px auto;
  overflow: hidden;
}
.post-slider .post-wrapper .post{
  display: inline-block;
  width: 300px;
  min-height: 350px;
  margin: 0px 10px;
  margin-bottom: 10px;
}
div.head-photo {
  position: relative;
  width: 100%;
  height:75vh;
  overflow-y: hidden;
}
div.head-words {
  position: absolute;
  top: 100px;
  left: 50;
  width: 500px;
  height: 400;
}
div.more{
  display: none;
}
.videos{
  background-color: pink;
  border-radius: 20px;
}
/* basic styling to make the links bigger */

   #navbarNav2 {
     display: flex;
     top: 0;
     width: 100%;
   }
   #navbarNav2 ol{
     width: 100%;
     display: flex;
   }

   #navbarNav2 li {
     flex-grow: 1;
     height: 50px;
     border-bottom: 3px solid white;
     display: flex;
     justify-content: center;
     align-items: center;
   }

   #navbarNav2 li a {
     display: inline-block;
     color: #3d3d31;
     font-weight: bold;

   }
   #navbarNav2 li a:hover{
     text-decoration: none;
   }

   .highlighted {
     color: red;
   }
.tips{
  width: 80%;
  border-radius: 15px;
  background-color: aliceblue;
}
.aliceblue{
  background-color: aliceblue;
}
